<h1>My Page</h1>
<%= current_user.nickname %><span>さんのマイページ</span>
<br><%= image_tag current_user.avatar %>



<h1>Reviews</h1>

  <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Day</th>
      <th>Performers</th>
      <th>Rate</th>
      <th>Review</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.reviews.each do |review| %>
      <tr>
        <td><%= review.live.title %></td>
        <td><%= review.live.day %></td>
        <td><%= review.live.performer %></td>
        <td><%= review.rate %></td>
        <td><%= review.review %></td>

      </tr>
    <% end %>

  </tbody>
</table>
<br>