<div class="my-page">
  <div class="current_user-profile">
    <h1><%= current_user.nickname %>さんのマイページ</h1>
    <br><%= image_tag current_user.avatar %>
  </div>

  <div class="current_user-reviews">
    <h1>Reviews</h1>
    <% current_user.reviews.each do |review| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= link_to review.live.title, life_path(review.live.id) %></h4>
          <p>評価:<%= review.rate %></p>
        </div>
        <div class="panel-body">
          <p>レビュー:<br><%= review.review %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>