<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to live.title, life_path(live) %></h3>
  </div>
  <div class="panel-body">
    <div class="pull-left">
      <strong>Day:</strong><%= live.day %>
      <strong>Starting time:</strong><%= live.starting_time %>
      <strong>Place:</strong><%= live.place %>
      <strong>Price:</strong><%= live.price %>
    </div>
    <div class="pull-right">
      <strong>Performer:</strong><%= live.performer %>
      <strong>Detail:</strong><%= live.detail %>
    </div>
  </div>
</div>

