<h1>Searching Lives</h1>
<div>
  <%= search_form_for @q do |f| %>
    <%= f.label :title_cont %>
    <%= f.text_field :title_cont %>
    <%= f.submit %>
  <% end %>
</div>

<h1>Searching Lives Result</h1>

<%= render :partial => "live", :collection => @search_lives, locals: { live: @search_live} %>

<br>